.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
ul{
  padding: 0;
  list-style-type: none;
  min-height: 300px;
}
li{
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
  cursor: pointer;
  min-width: 250px;
}
li:hover::after{
  content: '\02a2f';
  color: red;
  font-size: 18px;
  float: right;
  margin-right: 5px;
}
li.completed{
  text-decoration: line-through;
  color: red;
}
li span.uncompleted:after {
  content:'\025a1';
  font-size: 18px;
  padding: 4px; 
}
li span.completed:after {
  content:'\02713';
  font-size: 18px;
  padding: 4px;
  color: green;
}
li:last-child{
  border: none;
}
.container {
  display: flex;
  flex-flow: column;
  /* border:1px solid red; */
  align-items: center;
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
